.he-container#he-titles {
  counter-reset: title-counter;
  margin-top: .5rem;
  position: relative;
}
[class*=" version-3"] .he-container#he-titles {
  margin-bottom: 1rem;
}
.he-container#he-titles.title-select {
  background: #fcfce8;
  border: 1px solid #dbd800;
  border-radius: 4px;
  padding: 1rem;
}
.he-container#he-titles.title-select .add-title,
.he-container#he-titles.title-select .select-title {
  display: none;
}
.he-container#he-titles.title-select .he-title:hover .dashicons-dismiss {
  display: none;
}
.he-container#he-titles.title-select label {
  background: transparent;
}
.he-container#he-titles.title-select label .num {
  display: none;
}
.he-container#he-titles.title-select label [name="he-winner"] {
  display: inline-block;
}
.he-container#he-titles.title-select .cancel-select-title {
  display: inline-block;
}
.he-container#he-titles.title-select .he-title-original {
  display: block;
}
.he-container#he-titles.title-select .he-title-original input[type="text"] {
  font-style: italic;
}
.he-container#he-titles.title-select input[type="text"] {
  box-shadow: none;
  color: #000;
}
.he-container#he-titles .saving {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  bottom: 0;
  display: none;
  left: 0;
  padding: 1rem;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
}
.saving-post .he-container#he-titles .saving {
  display: block;
}
.he-container#he-titles .saving p {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  color: #fff;
  margin-top: 1rem;
  padding: .5rem;
}
.he-container .select-title {
  display: none;
}
.post-new-php .he-container .select-title {
  display: none;
}
.he-container .he-title + .he-title + button + .select-title {
  display: inline-block;
}
.he-container .cancel-select-title,
.he-container .he-title-original {
  display: none;
}
.he-container .view-experiment {
  color: #999;
  display: none;
  line-height: 2;
  margin-left: 1rem;
  opacity: 0.7;
}
.he-container .view-experiment:hover {
  opacity: 1;
}
.he-container.has-experiment .view-experiment {
  display: inline-block;
}
.he-container .he-title {
  margin-bottom: .5rem;
}
.he-container .he-title p {
  margin-top: 0;
}
.he-container .he-title .num:before {
  content: counter(title-counter);
  counter-increment: title-counter;
}
.he-container .he-title:hover label .num {
  position: absolute;
  height: 0;
  overflow: hidden;
  width: 0;
}
.he-container .he-title:hover label .dashicons {
  display: inline-block;
}
.he-container .he-title label {
  background: #e5e5e5;
  border-radius: 6px;
  color: #999;
  display: inline-block;
  margin-right: .25rem;
  padding: .4rem .5rem;
  position: relative;
  text-align: center;
  top: -2px;
  width: 1.5rem;
}
.he-container .he-title label:hover .dashicons-dismiss {
  color: #760114;
}
.he-container .he-title label .dashicons-dismiss {
  color: #999;
  display: none;
  height: 18px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.he-container .he-title label [name="he-winner"] {
  display: none;
}
.he-container .he-title input {
  padding: .3215rem;
  width: calc( 100% - 8.5rem );
}
.he-container .he-status {
  background: #e5e5e5;
  border-radius: 6px;
  color: #999;
  display: inline-block;
  margin-left: .5rem;
  padding: .4rem .5rem;
  text-align: center;
  width: 3.5rem;
}
.he-container [data-winner="true"] .he-status {
  background: #85a91a;
  color: #fff;
}
.he-container .button .dashicons {
  color: #ccc;
  position: relative;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  top: 4px;
}
.he-container .button:hover .dashicons {
  color: #555;
}

#headline-envy-settings .invalid-key {
  color: #e30000;
  font-style: italic;
  margin-top: .25rem;
}
#headline-envy-settings .invalid-key input {
  border: 1px solid #e30000;
}

#headline-envy-results .headline-results {
  background: #fafafa;
  border-radius: 4px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  padding: .5rem;
}
#headline-envy-results .headline-results header {
  background: #fff;
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  margin-bottom: .5rem;
  overflow: hidden;
  padding: .5rem;
}
#headline-envy-results .headline-results .experiment-title {
  font-size: 1.1rem;
  line-height: 1.6;
}
#headline-envy-results .headline-results .experiment-options {
  float: right;
}
#headline-envy-results .headline-results .experiment-options .button .dashicons {
  position: relative;
  top: 3px;
}
#headline-envy-results .experiment-results th,
#headline-envy-results .experiment-results td {
  text-align: right;
}
#headline-envy-results .experiment-results .status {
  text-align: center;
}
#headline-envy-results .experiment-results table {
  display: none;
}
#headline-envy-results .experiment-results table:first-child {
  display: table;
}
